body{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

nav {
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(185, 34, 34);
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 1%;
}

ul.topnav li{
    list-style: none;
    float: left;    

}

ul.topnav li.topnav_right {
    float: right;
}   

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

ul.topnav li a:hover {
    background-color: blue;
    color: white;
}

ul.topnav li.dropdown{
    display: none;
}

#about {
    background-color: #2b2323;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#about h1{
    color: #F0F0F0;
    font-size: 46px;
    margin: 0;
}

#about p {
    font-size: 35px;
    font-style: italic;
    color:rgb(185, 34, 34);
    margin: 7px;
}

#projects {
    background-color: #0b152b;
    text-align: center;
    padding: 0px;
    width: 100%;
    margin: 0;
}

#projects h2{
    color: #F0F0F0;
    font-size: 32px;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0;
    padding: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 20px;
}

.project {
    background-color: #2b2929;
    color: #F0F0F0;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    width: 350px;
    font-style: italic;
}

.project a {
    text-decoration: none;
    color: #F0F0F0;
}

#contact {
    background-color: #2b2929;
    text-align: center;
    color: #eee;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-bottom: 3px solid rgb(185, 34, 34);
    padding: 0;
    margin: 0;
}

#contact h2 {
    font-size: 60px;
}

.icon-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;    
    padding: 20px;
}
.icon-container a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}
.icon-container a:hover {
    color: #007bff;
}

footer {
    background-color: #2b2929;
    padding: 20px;
}

footer p {
    text-align: center;
    color: #F0F0F0;
    font-size: 20px;
}

/* ############# Mobile ################# */

@media  screen and (max-width: 780px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

ul.topnav li.dropdown {
    display: block;
    float: right;
}

ul.topnav.responsive li.dropdown{
    position: absolute;
    top: 0;
    right: 0;
}

ul.topnav.responsive {
    position: relative;

}

ul.topnav.responsive li{
    display: inline;
    float: none;
}

ul.topnav.responsive li a {
    display: block;
    text-align: left;
}

.icon-container {
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.icon-container a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

#contact h2 {
    font-size: 30px;
}

}   