/* DEFAULTS */

nav, header, footer {
    display: block;
}
body{
    line-height: 1; 
    margin: 0;
    box-sizing: border-box;
}

/* NAVIGATION BAR */

nav {
    width: 100;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 10px;
}

ul.topnav li{
    list-style: none;
    float: left;    

}

ul.topnav li.topnav_right {
    float: right;
}   

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
    font-weight: bold;
}

ul.topnav li a:hover {
    background-color: blue;
    color: white;
}

ul.topnav li.dropdown{
    display: none;
}
/* ############ About ###################*/

#about {
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#about h1{
    color: #F0F0F0;
    font-size: 42px;
}

#about p {
    color: #F0F0F0;
    padding: 0;
    margin: 0;
}

#projects {
    background-color: #45567d;
    text-align: center;
    padding: 20px;
}

.projects {
    display: flex;
}

.project     {
    background-color: rgb(3, 3, 14);
    color: #F0F0F0;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

#contact {
    background-color: #666;
    padding: 20px;
    text-align: center;
    color: #eee;
}

#contact h2 {
    font-size: 42px;
}

.icon-container {
    display: flex;
    gap: 20px;
}
.icon-container a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    transition: color 0.3s;
}
.icon-container a:hover {
    color: #007bff;
}

/* ############# Mobile ################# */
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

ul.topnav li.dropdown {
    display: block;
    float: right;
}

ul.topnav.responsive li.dropdown{
    position: absolute;
    top: 0;
    right: 0;   
}

ul.topnav.responsive {
    position: relative;

}

ul.topnav.responsive li{
    display: inline;
    float: none;
}

ul.topnav.responsive li a {
    display: block;
    text-align: left;
}

}   